In [4]:
from google.colab import files
uploaded = files.upload()

Saving Bank_Transaction_Fraud_Detection.csv to Bank_Transaction_Fraud_Detection.csv

In [1]:
import pandas as pd

In [5]:
df=pd.read_csv("Bank_Transaction_Fraud_Detection.csv")
df.head(2)

,Customer_ID,Customer_Name,Gender,Age,State,City,Bank_Branch,Account_Type,Transaction_ID,Transaction_Date,...,Transaction_Type,Merchant_Category,Account_Balance,Transaction_Device,Transaction_Location,Device_Type,Is_Fraud,Customer_Contact,Transaction_Description,Customer_Email
0,d5f6ec07-d69e-4f47-b9b4-7c58ff17c19e,Osha Tella,Male,60,Kerala,Thiruvananthapuram,Thiruvananthapuram Branch,Savings,4fa3208f-9e23-42dc-b330-844829d0c12c,2025-01-23 16:04:07,...,Transfer,Restaurant,74557.27,Voice Assistant,"Thiruvananthapuram, Kerala",POS,0,+9198579XXXXXX,Bitcoin transaction,oshaXXXXX@XXXXX.com
1,7c14ad51-781a-4db9-b7bd-67439c175262,Hredhaan Khosla,Female,51,Maharashtra,Nashik,Nashik Branch,Business,c9de0c06-2c4c-40a9-97ed-3c7b8f97c79c,2025-01-11 17:14:53,...,Bill Payment,Restaurant,74622.66,POS Mobile Device,"Nashik, Maharashtra",Desktop,0,+9191074XXXXXX,Grocery delivery,hredhaanXXXX@XXXXXX.com

In [6]:
df.isnull().sum()

# There is no nulls values

Customer_ID                0
Customer_Name              0
Gender                     0
Age                        0
State                      0
City                       0
Bank_Branch                0
Account_Type               0
Transaction_ID             0
Transaction_Date           0
Transaction_Amount         0
Merchant_ID                0
Transaction_Type           0
Merchant_Category          0
Account_Balance            0
Transaction_Device         0
Transaction_Location       0
Device_Type                0
Is_Fraud                   0
Customer_Contact           0
Transaction_Description    0
Customer_Email             0
dtype: int64

In [7]:
df.duplicated().sum()

# there in no duplicates

np.int64(0)

In [8]:
# Function to convert from Object to date
def conv_obj_date(df:pd.DataFrame,att:object,format=None,error="coerce"):
    df[att]=pd.to_datetime(df[att],format=format,errors=error)
    return df

#  Function to convert from object to int
def conv_obj_int(df:pd.DataFrame,att:object,error="coerce"):
    df[att]=pd.to_numeric(df[att],errors=error).astype(int)
    return df

#  Function to convert from object to float
def conv_obj_float(df:pd.DataFrame,att:object,error="coerce"):
    df[att]=pd.to_numeric(df[att],errors=error).astype(float)
    return df

In [9]:
df.head(2)

,Customer_ID,Customer_Name,Gender,Age,State,City,Bank_Branch,Account_Type,Transaction_ID,Transaction_Date,...,Transaction_Type,Merchant_Category,Account_Balance,Transaction_Device,Transaction_Location,Device_Type,Is_Fraud,Customer_Contact,Transaction_Description,Customer_Email
0,d5f6ec07-d69e-4f47-b9b4-7c58ff17c19e,Osha Tella,Male,60,Kerala,Thiruvananthapuram,Thiruvananthapuram Branch,Savings,4fa3208f-9e23-42dc-b330-844829d0c12c,2025-01-23 16:04:07,...,Transfer,Restaurant,74557.27,Voice Assistant,"Thiruvananthapuram, Kerala",POS,0,+9198579XXXXXX,Bitcoin transaction,oshaXXXXX@XXXXX.com
1,7c14ad51-781a-4db9-b7bd-67439c175262,Hredhaan Khosla,Female,51,Maharashtra,Nashik,Nashik Branch,Business,c9de0c06-2c4c-40a9-97ed-3c7b8f97c79c,2025-01-11 17:14:53,...,Bill Payment,Restaurant,74622.66,POS Mobile Device,"Nashik, Maharashtra",Desktop,0,+9191074XXXXXX,Grocery delivery,hredhaanXXXX@XXXXXX.com

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 22 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Customer_ID              200000 non-null  object
 1   Customer_Name            200000 non-null  object
 2   Gender                   200000 non-null  object
 3   Age                      200000 non-null  int64
 4   State                    200000 non-null  object
 5   City                     200000 non-null  object
 6   Bank_Branch              200000 non-null  object
 7   Account_Type             200000 non-null  object
 8   Transaction_ID           200000 non-null  object
 9   Transaction_Date         200000 non-null  object
 10  Transaction_Amount       200000 non-null  float64
 11  Merchant_ID              200000 non-null  object
 12  Transaction_Type         200000 non-null  object
 13  Merchant_Category        200000 non-null  object
 14  Account_Balance          200000 non-null  float64
 15  Transaction_Device       200000 non-null  object
 16  Transaction_Location     200000 non-null  object
 17  Device_Type              200000 non-null  object
 18  Is_Fraud                 200000 non-null  int64
 19  Customer_Contact         200000 non-null  object
 20  Transaction_Description  200000 non-null  object
 21  Customer_Email           200000 non-null  object
dtypes: float64(2), int64(2), object(18)
memory usage: 33.6+ MB

### Transaction_Date is Object data type so we gonna transfar it to datetime

In [11]:
df1=df.copy()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 22 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Customer_ID              200000 non-null  object
 1   Customer_Name            200000 non-null  object
 2   Gender                   200000 non-null  object
 3   Age                      200000 non-null  int64
 4   State                    200000 non-null  object
 5   City                     200000 non-null  object
 6   Bank_Branch              200000 non-null  object
 7   Account_Type             200000 non-null  object
 8   Transaction_ID           200000 non-null  object
 9   Transaction_Date         200000 non-null  object
 10  Transaction_Amount       200000 non-null  float64
 11  Merchant_ID              200000 non-null  object
 12  Transaction_Type         200000 non-null  object
 13  Merchant_Category        200000 non-null  object
 14  Account_Balance          200000 non-null  float64
 15  Transaction_Device       200000 non-null  object
 16  Transaction_Location     200000 non-null  object
 17  Device_Type              200000 non-null  object
 18  Is_Fraud                 200000 non-null  int64
 19  Customer_Contact         200000 non-null  object
 20  Transaction_Description  200000 non-null  object
 21  Customer_Email           200000 non-null  object
dtypes: float64(2), int64(2), object(18)
memory usage: 33.6+ MB

In [12]:
df1=conv_obj_date(df,"Transaction_Date",format="%d-%m-%Y")
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 22 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Customer_ID              200000 non-null  object
 1   Customer_Name            200000 non-null  object
 2   Gender                   200000 non-null  object
 3   Age                      200000 non-null  int64
 4   State                    200000 non-null  object
 5   City                     200000 non-null  object
 6   Bank_Branch              200000 non-null  object
 7   Account_Type             200000 non-null  object
 8   Transaction_ID           200000 non-null  object
 9   Transaction_Date         0 non-null       datetime64[ns]
 10  Transaction_Amount       200000 non-null  float64
 11  Merchant_ID              200000 non-null  object
 12  Transaction_Type         200000 non-null  object
 13  Merchant_Category        200000 non-null  object
 14  Account_Balance          200000 non-null  float64
 15  Transaction_Device       200000 non-null  object
 16  Transaction_Location     200000 non-null  object
 17  Device_Type              200000 non-null  object
 18  Is_Fraud                 200000 non-null  int64
 19  Customer_Contact         200000 non-null  object
 20  Transaction_Description  200000 non-null  object
 21  Customer_Email           200000 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(17)
memory usage: 33.6+ MB

In [13]:
df1["Transaction_Date"].head(5)

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
Name: Transaction_Date, dtype: datetime64[ns]

In [14]:
print(df["Transaction_Currency"],"\n===============================================\n")
df1["Transaction_Currency"].value_counts()

KeyError: 'Transaction_Currency'

In [1]:
# Since Transaction_Currency has only 1 value, we gonna drop it

df1=df1.drop("Transaction_Currency",axis=1)

NameError: name 'df1' is not defined

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 23 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Customer_ID              200000 non-null  object
 1   Customer_Name            200000 non-null  object
 2   Gender                   200000 non-null  object
 3   Age                      200000 non-null  int64
 4   State                    200000 non-null  object
 5   City                     200000 non-null  object
 6   Bank_Branch              200000 non-null  object
 7   Account_Type             200000 non-null  object
 8   Transaction_ID           200000 non-null  object
 9   Transaction_Date         200000 non-null  datetime64[ns]
 10  Transaction_Time         200000 non-null  object
 11  Transaction_Amount       200000 non-null  float64
 12  Merchant_ID              200000 non-null  object
 13  Transaction_Type         200000 non-null  object
 14  Merchant_Category        200000 non-null  object
 15  Account_Balance          200000 non-null  float64
 16  Transaction_Device       200000 non-null  object
 17  Transaction_Location     200000 non-null  object
 18  Device_Type              200000 non-null  object
 19  Is_Fraud                 200000 non-null  int64
 20  Customer_Contact         200000 non-null  object
 21  Transaction_Description  200000 non-null  object
 22  Customer_Email           200000 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(18)
memory usage: 35.1+ MB

In [15]:
df1.to_csv("Bank_Transaction_Fraud_Detection(1).csv",index=False)

KeyboardInterrupt:

In [2]:
df_new=pd.read_csv("Bank_Transaction_Fraud_Detection(1).csv")

NameError: name 'pd' is not defined

In [3]:
# مثال: أشوف القيم المميزة لعمود معين
print(df["Transaction_Device"].unique())

# أو مع تكرار كل قيمة
print(df["Transaction_Device"].value_counts())

NameError: name 'df' is not defined

In [ ]:
df_new.head()

,Customer_ID,Customer_Name,Gender,Age,State,City,Bank_Branch,Account_Type,Transaction_ID,Transaction_Date,...,Transaction_Type,Merchant_Category,Account_Balance,Transaction_Device,Transaction_Location,Device_Type,Is_Fraud,Customer_Contact,Transaction_Description,Customer_Email
0,d5f6ec07-d69e-4f47-b9b4-7c58ff17c19e,Osha Tella,Male,60,Kerala,Thiruvananthapuram,Thiruvananthapuram Branch,Savings,4fa3208f-9e23-42dc-b330-844829d0c12c,2025-01-23,...,Transfer,Restaurant,74557.27,Voice Assistant,"Thiruvananthapuram, Kerala",POS,0,+9198579XXXXXX,Bitcoin transaction,oshaXXXXX@XXXXX.com
1,7c14ad51-781a-4db9-b7bd-67439c175262,Hredhaan Khosla,Female,51,Maharashtra,Nashik,Nashik Branch,Business,c9de0c06-2c4c-40a9-97ed-3c7b8f97c79c,2025-01-11,...,Bill Payment,Restaurant,74622.66,POS Mobile Device,"Nashik, Maharashtra",Desktop,0,+9191074XXXXXX,Grocery delivery,hredhaanXXXX@XXXXXX.com
2,3a73a0e5-d4da-45aa-85f3-528413900a35,Ekani Nazareth,Male,20,Bihar,Bhagalpur,Bhagalpur Branch,Savings,e41c55f9-c016-4ff3-872b-cae72467c75c,2025-01-25,...,Bill Payment,Groceries,66817.99,ATM,"Bhagalpur, Bihar",Desktop,0,+9197745XXXXXX,Mutual fund investment,ekaniXXX@XXXXXX.com
3,7902f4ef-9050-4a79-857d-9c2ea3181940,Yamini Ramachandran,Female,57,Tamil Nadu,Chennai,Chennai Branch,Business,7f7ee11b-ff2c-45a3-802a-49bc47c02ecb,2025-01-19,...,Debit,Entertainment,58177.08,POS Mobile App,"Chennai, Tamil Nadu",Mobile,0,+9195889XXXXXX,Food delivery,yaminiXXXXX@XXXXXXX.com
4,3a4bba70-d9a9-4c5f-8b92-1735fd8c19e9,Kritika Rege,Female,43,Punjab,Amritsar,Amritsar Branch,Savings,f8e6ac6f-81a1-4985-bf12-f60967d852ef,2025-01-30,...,Transfer,Entertainment,16108.56,Virtual Card,"Amritsar, Punjab",Mobile,0,+9195316XXXXXX,Debt repayment,kritikaXXXX@XXXXXX.com

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 24 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Customer_ID              200000 non-null  object
 1   Customer_Name            200000 non-null  object
 2   Gender                   200000 non-null  object
 3   Age                      200000 non-null  int64
 4   State                    200000 non-null  object
 5   City                     200000 non-null  object
 6   Bank_Branch              200000 non-null  object
 7   Account_Type             200000 non-null  object
 8   Transaction_ID           200000 non-null  object
 9   Transaction_Date         200000 non-null  datetime64[ns]
 10  Transaction_Time         200000 non-null  object
 11  Transaction_Amount       200000 non-null  float64
 12  Merchant_ID              200000 non-null  object
 13  Transaction_Type         200000 non-null  object
 14  Merchant_Category        200000 non-null  object
 15  Account_Balance          200000 non-null  float64
 16  Transaction_Device       200000 non-null  object
 17  Transaction_Location     200000 non-null  object
 18  Device_Type              200000 non-null  object
 19  Is_Fraud                 200000 non-null  int64
 20  Transaction_Currency     200000 non-null  object
 21  Customer_Contact         200000 non-null  object
 22  Transaction_Description  200000 non-null  object
 23  Customer_Email           200000 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(2), object(19)
memory usage: 36.6+ MB

In [16]:
print("Final Data Quality Check:")
print(f"   Rows: {df_clean.shape[0]}, Columns: {df_clean.shape[1]}")
print(f"   Fraud Rate: {df_clean['Is_Fraud'].mean():.2%}")
print(f"   Unique Customers: {df_clean['Customer_ID_Num'].nunique()}")

Final Data Quality Check:

NameError: name 'df_clean' is not defined